# Conda environment folders (optional, if created locally)
env/
*.env

# Python artifacts
__pycache__/
*.py[cod]
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# System files
.DS_Store

# Data
*.csv
*.parquet
